
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* initials  */
:root{
    --c-brand: #8A9A5B;
    --c-brand1: #FFFF00;
    --c-brand2: #808080;
    --c-dark: #000;
    --n-height:100px;
}

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    color:var(--c-brand);
    font-family: sans-serif;
    line-height: 1.2;
}

h1,h2,h3,h4,h5,h6{
    color: var(--c-dark);
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 400;
}

.heading-1{
    font-size: clamp(32px , 6vw,54px);
}
.heading-2{
    font-size: clamp(28px , 4vw,36px);
}
.heading-3{
    font-size:20px;
}
a{
    color: var(--c-dark);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
a:hover{
    color: var(--c-brand2);
}
img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
ul{
    list-style: none;
}
section{
    padding: 140px 0;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    /* background-color: var(--c-brand2); */
    padding-left: 24px;
    padding-right: 24px;

}
.btn {
    display: inline-block;
    background-color: transparent;
    border:  1px solid var(--c-dark);
    font-family: sans-serif;
    padding: 16px 34px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
}
.btn:hover{
    background-color: var(--c-brand1);
    color: white;
}
/* Nav */
.navbar{
    background-color: #000;
    position: fixed;
    width: 100%;
    height: var(--n-height);
    top:0;
    left: 0;
    display: flex;
    z-index: 999;
}
.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand{
    color: white;
    font-size:  28px;
}

.nav-links{
    display: flex;
}
.nav-links li:not( :last-child ){
    margin-right: 44px;
}
.nav-links li.active a{
    box-shadow: 0 2px var(--c-brand1)
}
.nav-links li a{
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-links li a:hover{
    color: var(--c-brand1);
}

.hamburger{
    display: block;
    cursor: pointer;
    display: none;
}

.hamburger span{
    display: block;
    width: 34px;
    height: 2px;
    background-color: white;
    margin: 8px auto;
    transition: all 0.3s ease;
}
/* used or rotating the hamburger lines in cross by using active class*/
.hamburger.active span:nth-child(1){
    transform: translateY(5px) rotate(45deg);
}
.hamburger.active span:nth-child(2){
    transform: translateY(-5px) rotate(-45deg);
}

.scrolled {
    background-color: #989797;
}
.scrolled .brand{
    color: black;
}
.scrolled .nav-links li a{
    color: #000;
}
.scrolled .nav-links  li a:hover{
    color: #808080;
}
.scrolled .hamburger span{
    background-color: #000;
}
/* for navbar */
@media(max-width : 768px) {
    .nav-links{
        position: fixed;
        top: var(--n-height);
        width: 100%;
        left: 0;
        flex-direction: column;
        padding: 0 24px;
        transition: all 0.3 ease-in-out;
        height: 0;
        overflow: hidden;
        justify-content: center;
    }
    .nav-links li a{
        color: #fff;
    }
    .nav-links.active {
        height: 170px;
    }
    .nav-links li {
        padding: 10px 0;
        color: #fff;
    }
    .hamburger {
        display: block;
    }
    .scrolled .nav-links li a{
        color: #989797;
    }
}

/* hero */
.hero {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero h1{
    font-size: 120px; 
    color: white;   
    transition: 0.4s;
}
.hero h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.hero .container a{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: white;
    border: 2px solid #fff;
    padding: 14px 50px;
    border-radius: 40px;
    margin-top: 20px;
    
}
.hero .container a:hover{
    background-color: #fff;
    color: #000;
}
/* background video */
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/* for video */
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }

}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

/* course */
.inner_c{
    width: auto;
    background-color: #808080;
}
.Course{
	width:80%;
	margin:auto;
	text-align:center;
	color:black;
	padding-top:100px;
    
}

.Course h1{
	font-size:36px;
	font-weight:600;
}
.Course p{
	color:black;
	font-size:18px;
	font-weight:300;
	line-height:22px;
	padding:10px;
}
.Course h6{
	color:#D3D3D3;
}
.Course .row{
	margin-top:5%;
	display:flex;
	justify-content:space-between;
}
.Course .row1{
	margin-top:5%;
	display:flex;
	justify-content:space-evenly;
}
.course-col{
	flex-basis:31%;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
	border-radius:10px;
	margin-bottom:5%;
	padding:20px 12px;
	box-sizing:border-box;
	transition:0.5s;
}
.Course h3{
	text-align:center;
	font-weight:600;
	margin:10px 0;
}
.course-col:hover{
	box-shadow:0 0 33px 0px rgba(233, 227, 67, 0.2);
}

@media(max-width: 700px){
    .Course	.row{
	flex-direction:column;
}
.Course .row1{
	flex-direction:column;
}
.Course p{
	
	font-size:13px;
	
}
}
.Course .border1{
	border: #000;
}

/* ---About founders */
.ab{
    background-color: #d7d4d4;
}
.about-section{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding: 20px;
    margin: 1%;
    
    
}
.about-head{
    text-align: center;
    padding: 0px;
    font-size: 1.5rem;
   
}
.about-heading{
    font-size: 2rem;
    font-weight: bold;
}
.about-desc{
    width: 60%;
    margin: auto;
    /* text-align: center; */
}
.about-content{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    padding:20px ;
    max-width: 90%;
    margin: 0 auto;
    height: auto;
  
   
    
}

.about-img{
    flex: 1;
    width: 50%;

}

.about-img img{
    height: 400px;
    border-radius: 5%;
    
}

.about-ul{
    flex: 1;
    background-color: rgb(182, 182, 182);
    width: 50%;
    height: 400px;
    color: #000;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.2rem;
}
.about-ul ul {
    padding: 15px;
}
.about-ul li {
    padding: 10px;
    font-size: 18px;
    
}


 @media screen and (max-width: 500px) {

    .about-content{
        flex-direction: column;
        /* justify-content: center; */
        /* flex-wrap: nowrap; */
        /* align-items: center; */
        width: 100%;
        padding-left: 2px;
        padding-right: 2px;
    }
    .about-ul {
        width: 100%;
        height: auto;
    }
    .about-ul  li{
        font-size: 12px;
    }
    .about-img{
        width: 100%;
        flex: 1;
        margin: 0;
       
        padding-right: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-img img{
        padding-right: 2px;
        width: 100%;
        margin: 0;
    }
    .about-head{
        text-align: left;
    }
    .about-heading{
        font-size: 1.2rem;
    }
    .about-desc{
        max-width: 100%;
        height: auto;
        font-size: 1rem;
        margin: 0;
    }

} 

/* ----Countdown timer--- */
#countdown {
    text-align: center;
    margin: 0;
}

#countdown ul {
    list-style-type: none;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#countdown ul li {
    margin: 0 10px;
    text-align: center;
}

#countdown ul li span {
    display: block; /* Change to block */
    width: 60px; /* adjust width as needed */
    height: 50px; /* adjust height as needed */
    line-height: 50px; /* should be equal to height for vertical centering */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#countdown ul li span, #countdown ul li {
    margin-bottom: 5px; /* Add space between span and text */
}

.countdown-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0c1c42;

    margin-top: 10px;
    padding: 20px;
}
.countdown-heading{
    font-size: 2rem;
  
}

.countdown-container ul li{
    font-size: 1.2rem;
    padding: 10px;
}
.countdown-container button {
    padding: 20px 20px;
    background-color:  #fada50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
 
    margin: auto;
  }

  @media screen and (max-width: 430px) {
    .countdown-container{
        padding: 2px;
        width: 100%;
        text-align: left;
        width: 400px;
        align-items: flex-start;
        height: auto;
       
    }
    .countdown-heading{
        font-size: 1rem;
        padding: 10px;
    }
    .countdown-container ul li{
        font-size: 1rem;
        padding: 3px;
    }
    .countdown-container button{
        max-width: 100%;
        margin-left :3px
    }
  }
/* ---Form---- */
  
#registration-form {
    background:  #fada50;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 280px;
    position: fixed;
    bottom: -100%; 
    transition: bottom 1s ease-in-out;
    height: 280px;
    margin: 2%;
    display: flex;
}
#registration-form h2{
    text-align: center;
    margin-top: 20px;
}
#registration-form.visible {
    bottom: 0; 
}

.hidden {
    opacity: 0; 
} 
#close-button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
}
/* Add space between labels and inputs */
label {
    display: inline-block;
    margin: 5px 8px;
}

input[type="text"], input[type="email"], input[type="password"],input[type="number"] {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(231, 220, 220);
    
}

button {
    /* background-color: #4CAF50;  */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.register{
    border: 1px solid #000;
    margin: 0;
    width: 84%;
}
.register:hover{
    background-color: #8A9A5B;
    color:#fff;
}

@media (max-width: 530px) {
    #registration-form{
        width: 40%;
        font-size: 12px;
        padding: 20px;
    }
    #close-button{
        top: 0px;
    }
    .register{
        font-size: 12px;
    }
}